* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: rgb(248, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock {
    width: 300px;
    height: 300px;
    background-image: url('/clockApp/www/img/IMG_2074.JPG'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 5px solid black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock .number {
    position: absolute;
    color: black;
    font-size: 20px;
    color:black;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
}

.clock .number1 { --rotation: 30deg; }
.clock .number2 { --rotation: 60deg; }
.clock .number3 { --rotation: 90deg; }
.clock .number4 { --rotation: 120deg; }
.clock .number5 { --rotation: 150deg; }
.clock .number6 { --rotation: 180deg; }
.clock .number7 { --rotation: 210deg; }
.clock .number8 { --rotation: 240deg; }
.clock .number9 { --rotation: 270deg; }
.clock .number10 { --rotation: 300deg; }
.clock .number11 { --rotation: 330deg; }
.clock .number12 { --rotation: 360deg; }

.clock .hand {
    --rotation: 0;
    position: absolute;
    
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    transform-origin: bottom;
    background-color: black;
}

.clock .hand.second {
    height: 45%;
    width: 2px;
    background-color: red;
}

.clock .hand.minute {
    height: 35%;
    width: 4px;
}

.clock .hand.hour {
    height: 25%;
    width: 6px;
}

.clock::after {
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
